.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 60px 40px 0 40px;
    padding-bottom: 0;

    @include tablets() {
        justify-content: flex-end;
        padding: 60px 40px 0 40px;
    }
}