.maincontent {

    &__main {

        &--bg {
            background: url('../images/content/main-bg.jpg') center center no-repeat;
            background-size: cover;
        }
    }

    &__guitars {

        &--bg {
            background: url('../images/content/feedback-bg.jpg') center center no-repeat;
            background-size: cover;
        }
    }
}