.skills {
    display: flex;
    width: 100%;

    &__img {
        width: 30%;
        background: url('../images/content/sign_rock.jpg') center center no-repeat;
        background-size: cover;
    }

    &__circles {
        display: flex;
    }
}