section.fullscreen-section
    include header
    .fullscreen-section__info
        h1.fullscreen-section__name--title Анатолий Кириллов
        h2.fullscreen-section--title Личный сайт веб разработчика
    a.fullscreen-section__scroll Скролл
        +icon('scroll', 'fullscreen-section__icon')