section.hero
    .container
        .hero__wrap
            .hero__men
                .hero__img
                    +image('content/user.jpg', 'user-pic')
                .hero__data
                    table.hero__table
                        - var data = [['Проживаю:', 'Самара'], ['Возраст:', '31 год'], ['Родился:', '9 января 1988']]
                        each row in data
                            tr.hero__row
                                td.hero__row--name #{row[0]}
                                td.hero__row--text #{row[1]}
            .hero__content
                h3
                    .hero__welcome Привет, меня зовут
                    .hero__name Анатолий Кириллов
                    .hero__text.text
                        p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .hero__desc.text
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
