nav.main__menu
    ul.main__menu--list
        - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
        each item in menu
            li.main__menu--item
                a(href='').main__menu--link= item