mixin mainmenu(mod)
    nav(class='main__menu main__menu' + mod)
        ul(class='main__menu--list main__menu--list' + mod)
            - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
            each item in menu
                li(class='main__menu--item main__menu--item' + mod)
                    a(href='').main__menu--link= item