section.parallax
    .parallax__layer
        +image('parallax/1.jpg', 'parallax__image')
    .parallax__layer(data-speed='0.12')
        +image('parallax/2.jpg', 'parallax__image')
    .parallax__layer(data-speed='0.15')
        +image('parallax/3.png', 'parallax__image')
    .parallax__layer(data-speed='0.1')
        +image('parallax/4.png', 'parallax__image')
    .parallax__layer(data-speed='0.2')
        +image('parallax/5.png', 'parallax__image')
    .parallax__layer(data-speed='0.1')
        +image('parallax/6.png', 'parallax__image')
    .parallax__layer(data-speed='0.1')
        +image('parallax/7.png', 'parallax__image')