section.reviews
    .container
        .reviews__title--wrap
            h4.reviews__title.title Что обо мне говорят
            .reviews__slider--controls
                button.reviews__btn.reviews__btn--prev(type='button')
                button.reviews__btn.reviews__btn--next(type='button')
        ul.reviews__slider--list
            - for (var i = 0; i < 2; i++)
                li.reviews__slider--item
                    .reviews__item--wrap
                        .reviews__text.text
                            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .reviews__author--wrap
                            .reviews__author--img
                                +image('content/sabantsev.jpg', 'reviews__author--pic')
                            .reviews__author--bio
                                .reviews__author--name Владимир Сабанцев
                                .reviews__author--position Преподаватель