mixin socials(mod)
    ul(class='socials__links--list socials__links--list' + mod) 
        - var socials = [{name: 'insta', link: '#'}, {name: 'vk', link: '#'}, {name: 'github', link: '#'}];
        each item in socials
            li.socials__links--item
                a(href=item.link).socials__links--link
                    +icon(`${item.name}`, 'socials__icon')