mixin socials(mod)
    ul(class='socials__links--list socials__links--list' + mod)
        - var socials = [{name: 'insta', link: '#'}, {name: 'vk', link: '#'}, {name: 'github', link: '#'}];
        each item in socials
            li(class='socials__links--item socials__links--item' + mod)
                a(href=item.link class='socials__links--link socials__links--link' + mod)
                    +icon(`${item.name}`, 'socials__icon socials__icon' + mod)